<!DOCTYPE html>
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Lab Reservation</title>
        <link rel="stylesheet" href="css/style.css"> 
        <title>Lab Reservation System</title>
        <link rel="icon" type="image/x-icon" href="src/favicon.png">
    </head>
    <body> 
        <div class = "header">
            <div class = "header-left">
                Lab Reservation System
            </div>

            <div class = "header-right">
                <div class = "username">
                    Geoffrey Elton
                </div>
                <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUsIKSMW9Ul2g-X5JYNNGZlKYAapvSFKx_7g&s">
            </div>
        </div>
        <div class = "content">
            <div class = "sidebar">
                <div class = "nav"><a href="dashboard.html">Dashboard</a></div>
                <div class = "nav" id="dashboard-nav">Laboratories</div>
                <div class = "nav"><a href="reservation.html">Reservations</a></div>
            </div>
        
            <div class="lab-container">
                <div clas="lab-header">
                    <h1>Laboratories</h1>
                    <p>Browse through all the available labs.</p>
                </div>
                <div class="filter-section">
                    <label>Filter by Availability:</label>
                    <select id="avail-filter">
                        <option value="all">All</option>
                        <option value="available">Available</option>
                        <option value="unavailable">Unavailable</option>
                    </select>
                </div>

                <div class="card-container"> 
                    <div class="card-header card-available"> 
                        <h1><a href="reservation.html">Laboratory 1</a></h1>
                        <h5> Status: Available</h5>
                    </div>
                    <div class="card-description"> 
                        <h4>Laboratory 1 located in room 204.</h4>
                    </div>
                     <img src="https://www.aaup.edu/sites/default/files/2024-12/PcLabs.jpg">
                </div>
                </br></br>
                <div class="card-container"> 
                    <div class="card-header card-available"> 
                        <h1><a href="reservation.html">Laboratory 2</a></h1>
                        <h5> Status: Available</h5>
                    </div>
                    <div class="card-description"> 
                        <h4>Laboratory 2 located in room 205.</h4>
                    </div>
                     <img src="https://www.education.edu/wp-content/uploads/external/00f3981cab8d7549033b0d314539dd2e-2048x0-c-default.jpg">
                </div>
                </br></br>
                <div class="card-container"> 
                    <div class="card-header card-available"> 
                        <h1><a href="reservation.html">Laboratory 3</a></h1>
                        <h5> Status: Available</h5>
                    </div>
                    <div class="card-description"> 
                        <h4>Laboratory 3 located in room 206.</h4>
                    </div>
                     <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/A_computer_science_classroom_at_Lee_University_in_Cleveland%2C_Tennessee%2C_United_States_02.jpg">
                </div>
                 
            </div>

        </div>

    </body>
    <script>
            document.getElementById("logout").addEventListener("click", function() {
        window.location.href = "index.html";
    });
    </script>
</html> 



